@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 antialiased;
}

/* Hide WebKit/Blink browsers' number input spin buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide Firefox browsers' number input spin buttons */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for other browsers or future standards */
}